@model UserViewModel

@{
    ViewData["Title"] = "Cambio de contraseña exitoso";
}

<div class="outer">
    <div class="middle">
        <div class="d-block col-11 col-md-7 col-lg-6 col-xl-4 p-2 p-md-3 p-lg-5 chpasswordbox fade-in">
            <div class="jumbotron text-center">
                <h2>Contraseña cambiada satisfactoriamente</h2>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img class="user_picture m-3" src="/Home/UserPicture?accountName=@Model.AccountName" width="150" />
                </div>
                <div class="col">
                    <div>
                        <h4>Hola @Model.DisplayName, su contraseña ha sido actualizada satisfactoriamente.</h4>
                    </div>
                    <div>
                        <p>La contraseña expirará en un período de <strong>@Model.PasswordExpirationDays</strong> días, lo cual ocurrirá el día <strong>@DateTime.Today.AddDays(Model.PasswordExpirationDays).ToLongDateString()</strong>.</p>
                    </div>
                </div>
            </div>
            <div class="row text-center border-top mt-3 pt-3">
                <small>Para más información contactar con el área de informática o escribir a nuestra dirección electrónica: <a href="mailto:admin@ingeco.cu">admin@ingeco.cu</a></small>
            </div>
        </div>
    </div>
</div>
