@{
    ViewData["Title"] = "Acerca de la aplicación";
}

<div class="container">
    <mail role="main">
        <h1>Servicio de cambio de contraseña del dominio</h1>
        <div class="text-center">
            <img src="~/img/password_logo.png" class="figure-img img-fluid col-10 col-sm-7 col-lg-6 col-xl-5" />
        </div>
    </mail>
</div>