@using Microsoft.Extensions.Configuration
@model UserViewModel
@inject IConfiguration config

<div>
    @{
        var expiration = Model.LastPasswordSet.AddDays(config.GetValue<int>("passwordExpirationDays"));
        var remainingDays = (expiration - DateTime.Now).Days;
    }
    @if (Model.PasswordNeverExpires)
    {
        <b class="text-muted"><i class="fas fa-infinity"></i> No expira</b>
    }
    else
    {
        if (Model.PendingToSetPassword)
        {
            <b class="text-info"><i class="fas fa-clock"></i> Pendiente a establecer</b>
        }
        else
        {
            @if (DateTime.Now >= expiration)
            {
                <b class="text-danger"><i class="fas fa-exclamation-circle"></i> @expiration.ToShortDateString()<br />(Expirada)</b>
            }
            else
            {
                if (remainingDays <= 7)
                {
                    <b class="text-warning"><i class="fas fa-exclamation-triangle"></i> @expiration.ToShortDateString()<br />(@remainingDays días)</b>
                }
                else
                {
                    <b class="text-success"><i class="fas fa-check-circle"></i> @expiration.ToShortDateString()<br />(@remainingDays días)</b>
                }
            }
        }
    }
</div>