@model SetUserPasswordViewModel
@{
    ViewData["Title"] = "Establecer contraseña";
}

<main role="main">
    <div class="container">
        <h1>Establecer contraseña de usuario</h1>
        <div>
            <h4>Datos del usuario</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Nombre completo
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DisplayName)
                </dd>
                <dt class="col-sm-2">
                    Descripción
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    Correo electrónico
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    Expira la contraseña
                </dt>
                <dd class="col-sm-10">
                    <partial name="_PasswordExpirationDateLabel" model="@Model" />
                </dd>
            </dl>
        </div>
        <div>
            <h4>Nueva contraseña</h4>
            <hr />
            <div>Escriba la nueva contraseña definir. Recuerde que la contraseña debe de contener al menos 8 caracteres y debe de contener números, símbolos y/o caracteres especiales para elevar su complejidad.</div>
            <form method="post" class="mt-4 d-block col-11 col-sm-6">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" autofocus />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="AccountName" />
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="DisplayName" />

                <div class="row mt-5 mb-5">
                    <div class="col">
                        <a asp-action="Index"><i class="fas fa-arrow-alt-circle-left"></i> Regresar al listado</a>
                    </div>
                    <div class="col text-right mb-5">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-asterisk"></i> Establecer contraseña
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>